<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Nick's API Dashboard</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <div class="row">
        <div id='profileTarget'>
          <script id="nick-template" type="text/x-handlebars-template">
            <h2>{{profile.name}}</h2>
            <h6>{{profile.github_link}}</h6>
            <img src="{{profile.github_profile_image}}" />
            <h4>{{profile.current_city}}</h4>
            <hr />
          </script>
        </div>
      </div>
      <div class="row">
        <div id='guitarsTarget'>
          <ul>
            <script id="guitar-template" type="text/x-handlebars-template">
              {{#each guitars}}
              <li>
                <h4>{{brand}}</h4>
                <p>
                  {{model}} -- {{pickups}} -- {{neck_construction}}
                </p>
                <hr />
              </li>
              {{/each}}
            </script>
          </ul>
        </div>
      </div>
      <div class="row">
        <form id="newGuitarForm">
          <input name='brand' placeholder="brand" />
          <input name="model" placeholder="model" />
          <input name="pickups" placeholder="pickups" />
          <input name="neck_construction" placeholder="neck construction" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
  </body>
</html>
